body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .main-navigation {
    background: lightblue;
    grid-column: 1 / 4;
  }
  
  main {
    background: coral;
    grid-column: 1 / 3;
    height: 100vh;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .main-navigation,
  .right-sidebar, main {
    padding: 1rem;
  }
  