* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
.hero-image {
    height: 350px;
    background-position: center top;
    background-size: cover;
}

header {
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin-top: 0;
}

header p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Navegação */
nav {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    align-content: center;
    text-align: center;
    border-bottom: #E7D9CF;
}

nav ul {
    list-style-type: none;
}

nav a {
    background-color: #8CB7DC;
    color: black;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: black;
}

/* Rodapé */
footer {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #8CB7DC;
}

.contact-info {
    text-align: right;
}

/* Corpo */
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 10px;
    transition: 0.3s;
}

/* Menu Hamburger */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.25rem 0.75rem;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

/* Navegação móvel */
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    background-color: #E7D9CF;
    color: black;
    font-weight: 700;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

button#menu {
    top: 0%;
    position: inherit;
}

#lastModified {
    color: black;
    font-size: 17px;
    text-align: center;
}

/* Seção de Chamada para Ação (CTA) */
.cta-section {
    background-color: #f9f9f9;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.cta-section h2 {
    font-size: 28px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.cta-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #0a4061;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #0a3041;
}

/* Cartão */
.card {
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    margin: 10px;
}

/* Barra Lateral */
.sidebar {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 16%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 15px;
    border: #0a3041 solid 5px;
}

/* Calendário */
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    text-align: center;
    margin-top: 30px;
}

.calendar-day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#current-month {
    text-align: center;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Corpo Principal */
.main {
    grid-gap: 5px;
    padding-bottom: 15px;
    padding-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 30px;
}

/* Galeria */
.gallery-container {
    width: 100%;
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
    align-content: center;
    display: grid;
    max-width: auto;
}

.gallery figure:hover img {
    transform: scale(1.1);
}

.gallery-caption {
    font-size: 16px;
    padding-bottom: 20px;
    color: #333;
}

/* Container de Grade */
.grid-container {
    display: block;
    grid-gap: 20px;
}

figure {
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

#visit-message {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    font-size: large;
}

.spotlight {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    box-sizing: border-box;
    width: calc(33.33% - 20px);
}

.spotlight:not(:last-child) {
    margin-right: 20px;
}

.spotlights-section .spotlight:last-child {
    margin-right: 0;
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .gallery-container {
        margin: 0;
    }

    .gallery figure {
        margin: 0 0 20px;
    }
}

   

