@media screen and (min-width: 768px) {
    nav ul {
      display: flex;
    }
    nav ul li {
      flex: 1 1 100%;
    }
	main {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-gap: 0;
	}

	figure:hover {
        transform: scale(1.4);
        transition: transform 0.3s ease; 
    }

	.grid-container {
		display: grid;
		grid-template-columns: 280px 1fr; 
		grid-gap: 20px; 
	}

	.gallery-container {
		/* Estilos para a gleria de imagens */
		width: 90%;  
		font-size: 28px;
		margin-bottom: 30px;
		margin-top: 50px;
		margin-right: 20px;
		margin-left: 25px;
		text-align: center;
		align-content: center;
		display: grid;
	}

	.gallery img {
		/* Estilos para as imagens */
		width: auto;
		height: auto;
		transition: transform 0.3s ease;
	}

	.sidebar {
		margin-top: 17%;
		margin-left: 7%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 290px;
		height: auto;
		padding: 15px;
		border: #0a3041 solid 5px;
	}

	footer {
		color: black;
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: 'Anton', sans-serif;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 20px;
		background-color: #8CB7DC;
	}

	form {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 50px;;
		max-width: 600px; /* Largura máxima do formulário */
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	div.hero-image {
		background-image: url('../images/hero-image.jpeg');
		height: 100%;
		background-size:contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .gallery-container {
        margin: 0;
    }

    .gallery figure {
        margin: 0 0 20px;
    }
}